<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, height=decive-height, inital-scale=1.0">
	<meta charset="UTF-8">
	<title>O叶的博客</title>
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<script src="js/jquery-3.2.1.js"></script>
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/top.css">
	<link rel="stylesheet" href="css/side.css">
	
	<link rel="stylesheet" href="css/diary.css">
</head>
<body>
    <!-- container 最外层容器 -->
	<div class="container">
	
	    <!-- top 顶部  -->
	    <div class="row top">

	        <!-- top-logo -->
	    	<div class="row top-logo">
	    		<div class="col-md-7 top-logo-left">
	    		    <span class="logo-name1">O叶</span>
	    		    <span class="logo-name2">--个人博客</span>
	    		</div>
	    		<div class="col-md-5 top-logo-right">
	    		    <div class="content">
	    		    	<p class="saying">不忘初心,方得始终</p> 
	    		    	<p class="author">by:<strong>O叶</strong></p>
	    		    </div>
	    			<img src="img/logo.jpg" alt="">
	    		</div>
	    	</div>
	    	<!-- top-nav 导航 -->
	    	<div class="row top-nav">
	    		<ul class="clearfix">
	    			<li><a href="index.html">首页</a></li>
	    			<li><a href="article.html">文章归档</a></li>
	    			<li><a href="diary.html">个人随笔</a></li>
	    			<li><a href="about.html">关于自己</a></li>
	    			<li><a href="board.html">留言板</a></li>
	    		</ul>
	    	</div>
	    </div> <!-- top 顶部  结束 -->
        <!-- main 主内容  -->
	    <div class="row main">

	        <!-- main-content 内容 -->
	    	<div class="row main-content" id='main-content'>
				<!-- 
		         	<div class="one-diary">
		         	    <img src="img/logo.jpg" alt=""> 
	         	    	<div class="diary-content">日记1</div>
	         	    	<span class="diary-time">2018-02-01</span>
		        	</div>
	        	 -->
	    	</div> <!-- main-content 内容结束 -->

			<p id="loading">加载更多</p>

	    </div>  <!-- main主内容结束 -->
        
        <!-- foot脚部 -->
	    <div  class="row foot">
	       <p>design by: 铭业</p>	
	    </div>

	</div>  <!-- container 结束 -->

	<script src="js/same.js"></script>
	<script src="js/diary.js"></script>
</body>
</html>